<section class="nav-section">
    <img src="/assets/logo2.png" alt="">
    <div>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="">Team</a></li>
            <li><a href="">Partnrs</a></li>
            <li><a href="">Contacts</a></li>
            <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
        </ul>
    </div>
    <div class="res-icon">
        <i class="fa-solid fa-ellipsis-vertical"></i>   
    </div>
</section>
