<section class="sidebar-section">
    <ul>
        <li><a href=""><i class="fa-solid fa-layer-group"></i></a></li>
        <li><a href=""><i class="fa-solid fa-glasses"></i></a></li>
        <hr>
        <li><a href=""><i class="fa-solid fa-bag-shopping"></i></a></li>
        <hr>
        <li><a href=""><i class="fa-solid fa-circle-question"></i></a></li>
        <hr>
        <li><a href=""><i class="fa-solid fa-life-ring"></i></a></li>
        <hr>
        <li><a href=""><i class="fa-solid fa-envelope"></i></a></li>
    </ul>
</section>
