<section class="texcontainer-section">
  <div class="contents">
  <div class="text-container">
    <span>01</span>
    <div class="text-upper-con">
      <div class="text-position">
        <h2>Project<br />Visualisation</h2>
        <p>
          On her way she met a copy. The copy warned the Little Blind Text, that
          where it came from
        </p>
      </div>
    </div>
  </div>
  <div class="text-container scound-content-shadow">
    <!-- <div class="text-container-body"> -->
      <span>02</span>
      <div class="text-upper-con">
        <div class="text-position">
          <h2>Creation<br />& Selection</h2>
          <p>
            On her way she met a copy. The copy warned the Little Blind Text, that
            where it came from
          </p>
        </div>
      </div>
    <!-- </div> -->
  </div>
  <div class="text-container">
    <span>03</span>
    <div class="text-upper-con">
      <div class="text-position">
        <h2>Lounching<br />Campaign</h2>
        <p>
          On her way she met a copy. The copy warned the Little Blind Text, that
          where it came from
        </p>
      </div>
    </div>
  </div>
</div>
</section>
